.btn {
    margin-left: 5px;
}
/* .btn-group {
    display:flex;
} */


ul {
    list-style: none;
}


.search-bar {
    width: 300px;
    height: 35px;
    color:gray;
    font-size: 20px;
    margin-bottom: 20px;
  }