
<h3>Registration:</h3>
<form (submit)="register(formReg.value)" #formReg="ngForm" >
  <div>
    <label for="username">Username: </label>
    <input type="text"
      name="username"
      [(ngModel)]="user.username"
      required
      minlength="3"
      #username="ngModel">
  </div>
  <div>
    <label for="email">Email: </label>
    <input type="text"
      name="email"
      [(ngModel)]="user.email"
      required
      #email="ngModel">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password"
      name="password"
      [(ngModel)]="user.password"
      required
      minlength="8"
      #password="ngModel">
  </div>
    <button [disabled]="!formReg.valid">Register</button>
</form>
<!-- data form validations -->
<div class="text-danger" *ngIf="username.touched && username.errors">
    <div *ngIf='username.errors.required'>You must enter a username. </div>
    <div *ngIf='username.errors.minlength'>Username must be at least 3 characters. </div>
</div>
<div class="text-danger" *ngIf="email.touched && email.errors">
    <div *ngIf='email.errors.required'>You must enter an email. </div>
</div>
<div class="text-danger" *ngIf="password.touched && password.errors">
    <div *ngIf='password.errors.required'>You must enter a password. </div>
    <div *ngIf='password.errors.minlength'>Password must be at least 8 characters. </div>
</div>
  <!-- end validations -->

  <a [routerLink]="['/']" >Return</a>